<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a
        href="https://r.search.yahoo.com/_ylt=Awr1SnIt2mNm4HwWlBy7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1717848749/RO=10/RU=https%3a%2f%2fwww.facebook.com%2findex.php%2f/RK=2/RS=3AkXbMI_AUQO33it8iGBAwAJi84-"
        ><i class="fa-brands fa-facebook" style="color: #3b5998"></i
      ></a>
      <a href="https://www.instagram.com/accounts/login/?hl=en"
        ><i class="fa-brands fa-instagram" style="color: #cd4869"></i
      ></a>
      <a href="https://in.linkedin.com/"
        ><i class="fa-brands fa-linkedin" style="color: #0762c8"></i
      ></a>
    </div>
    <div class="name">&copy; Wanderplaces Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
