<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger col-8 offset-2 mt-3 alert-msg" role="alert">
  <h1>
    <i class="fa-solid fa-circle-exclamation"></i>
  </h1>
  <h5><%= message %></h5>
</div>
